@import '../../colors';
@import '../../media';
@import '../../fonts';
@import '../../library';

$bannerNamespace: 'bannerBlock';

.#{$bannerNamespace} {
    display: flex;
    flex-direction: column;

    .bannerImage {
        position: relative;
        height: 270px;

        svg {
            @extend %absolute-h-center;
        }
    }

    .slogan {
        text-align: center;
        padding: 2px 10px;
        @include font(F24-b);
    }

    @include apply-from(tablet) {
        flex-direction: row;
        justify-content: center;

        .bannerImage {
            flex: 0 0 30%;
        }

        .slogan {
            flex: 0 0 40%;
            display: flex;
            align-items: center;
        }
    }
}