
@import '../../colors';
@import '../../fonts';
@import '../../media';

$clinic-list-namespace: "pageClinicList";

.#{$clinic-list-namespace} {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding: 20px;

  header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .title {
      color: $black0;
      font-size: $px46;
      width: 100%;
      margin-bottom: 27px;
      text-align: center;
    }
  }

  .filterBlock {
    display: flex;
    flex-direction: row;
  }

  .filterTitle {
    flex: 0 0 80px;
    @include font(F14-n);
  }

  .filters {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @include font(F12-n);

    .cityFilter,
    .supplyType,
    .requestType {
      width: 100%;
    }

  }

  .listWrapper {
    display: flex;
    margin-top: 30px;
    margin-bottom: 40px;
  }
}