@import './utils';

$pingfang: "PingFangSC", "Roboto", "Helvetica", "Arial", sans-serif;

$lato: "Lato", "Roboto", "Helvetica", "Arial", sans-serif;

$thin: 100;
$light: 300;
$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;
$black: 900;

$px8: 0.5rem;
$px9: 0.5625rem;
$px10: 0.625rem;
$px11: 0.6875rem;
$px12: 0.75rem;
$px13: 0.8125rem;
$px14: 0.875rem;
$px15: 0.9375rem;
$px16: 1rem;
$px18: 1.125rem;
$px19: 1.1875rem;
$px20: 1.25rem;
$px22: 1.375rem;
$px24: 1.5rem;
$px26: 1.625rem;
$px28: 1.75rem;
$px30: 1.875rem;
$px42: 2.625rem;
$px46: 2.875rem;
$px50: 3.125rem;
$px60: 3.75rem;
$px80: 5rem;


$font-family: $pingfang;



$font-weight-map: (
    l: 300,
    n: 400,
    m: 500,
    sb: 600,
    b: 700,
    ul: 800
);


@mixin font($type, $color: #000000, $style: normal) {
    $font-type: font-str-split($type, '-');
    $size: number(nth($font-type, 1)) / 16;
    $weight: nth($font-type, 2);

    font-size: #{$size}rem;
    font-weight: map-get($font-weight-map, $weight);
    font-family: $font-family;
    color: $color;
    font-style: $style;
}