@import '../../colors';
@import '../../media';
@import '../../fonts';

$clinic-card-namespace: "elementsClinicCard";

.#{$clinic-card-namespace} {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 450px;
  background-color: $white;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
  border-radius: 5px;;

  .contentWrapper {
    display: flex;
    flex-direction: column;
    height: 100%;

    .verificationBadge {
      position: absolute;
      right: 20px;
      top: 30px;
    }

    .name {
      color: $black0;
      font-size: $px24;
      margin-bottom: 16px;
      width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      padding-right: 20px;
    }

    .location,
    .timestamp {
      height: 26px;
      display: flex;
      align-items: center;

      svg {
        margin-right: 5px;
      }
    }

    .subtitle {
      display: flex;
      flex-direction: row;
      margin-bottom: 20px;
      color: $grey4;
    }
  
    .supplyName {
      font-size: $px16;
      color: $black0;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .supplyList {
      margin-top: 20px;
    }
  
    .supplyRow {
      border-top: 1px solid $grey9;
      display: flex;
      height: 45px;
      align-items: center;
      @include font(F16-b);

      .supplyAmount {
        @include font(F14-n, $grey6);
      }
      
      &.otherSupplies {
        @include font(F14-n, $grey6);
      }
    }
  }
}